﻿@model PeriProject.Models.Design_Difficulty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Design_Difficulty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.design_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.design_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_dd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
