﻿@model IEnumerable<PeriProject.Models.Design_Difficulty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.design_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.design_price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_dd }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_dd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_dd })
        </td>
    </tr>
}

</table>
