﻿@model PeriProject.Models.spending_table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>spending_table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.spending_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spending_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spending_cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spending_cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_spending }) |
    @Html.ActionLink("Back to List", "Index")
</p>
