﻿@model IEnumerable<PeriProject.Models.spending_table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.spending_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spending_cash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.spending_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spending_cash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_spending }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_spending }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_spending })
        </td>
    </tr>
}

</table>
