﻿@model PeriProject.Models.TUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login PERI Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_Login/images/favicon.ico" />

    @Styles.Render("~/Content_Login/css")
    <style>
        label {
            float: right;
            width: 228px;
        }
    </style>

</head>
<body>
    @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
    {
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content_Login/images/bg-01.jpg');">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Log in
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100" type="text" name="UserName" placeholder="Username" maxlength="50" data-validate="Enter username" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="Password" placeholder="Password" maxlength="50" data-validate="Enter password" required>
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="label-info"><label class="field-validation-error" style="color:silver">@Html.DisplayFor(model => model.LoginErrorMessage)</label></div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" name="name" value="Login">
                                Login
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }

    <div id="dropDownSelect1"></div>
    @Scripts.Render("~/Scripts_Login/js")

</body>
</html>
