﻿@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/FormLogin");
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
